<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="calculator.html">Calculator</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div ng-app="">
        <div class="input-group">
            <span class="input-group-text">name:</span>
            <input type="text" aria-label="First name" class="form-control" ng-model="firstname">
            <input type="text" aria-label="Last name" class="form-control" ng-model="lastname">
            <span class="input-group-text">mobile:</span>
            <input type="text" aria-label="Last name" class="form-control"  ng-model="mobilenumber">
        </div>
    
        <h2>your first name : {{firstname}}, your last name : {{lastname}} , your mobile number : {{mobilenumber}}</h2>

        <div class="input-group">
            <span class="input-group-text">number1 and number2:</span>
            <input type="number" aria-label="First name" class="form-control" ng-model="num1">
            <input type="number" aria-label="Last name" class="form-control" ng-model="num2">
        </div>
        {{num1+num2}}

        
    
      <!-- <div ng-app="">
        first name: <input type="name" ng-model="name"></input>
        last name: <input type="last" ng-model="last"></p>
        mobile number: <input type="mobile" ng-model="mobile"></p>
        <h2>your first name is {{name}}, your last name is {{last name}}, your mobile number is{{mobile number}}</h2>
    </div> -->


    <!-- <form>
        <label for="name">Name:</label>
        <input type="text" id="name"><br>
        <label for="Lastname">Last name:</label>
        <input type="text" id="Lastname"><br>
        <label for="name" >Phone number:</label>
        <input type="number" id="mobile">
    </form> -->
</body>
</html>